{% extends 'base.html.twig' %}

{% block title %}New Liens{% endblock %}

{% block body %}
    <h1>Create new Liens</h1>

    {{ include('liens/_form.html.twig') }}

    <a href="{{ path('app_liens_index') }}">back to list</a>
{% endblock %}
